/****************** masterPlay means bottom music player - It is divided into two parts  ***********************/
.masterPlay {
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  /*left: 150px;*/
  border: none;
  color: white;
  /*border-radius: 90px;*/
  background-color: black;
  display: flex;
  align-items: center;
}

.masterPlay:hover {
  background: linear-gradient(#212a35, #030c18);
}

/************************************ left section **************************************/
.leftside {
  width: 250px;
}

.leftside img {
  height: 2rem;
  width: 2.5rem;
  margin: 12px 7px 7px 34px;
  /*border-radius: 2px;*/
}

.leftside a {
  color: grey;
}



.leftside .plus-button:hover {
  color: green;
}

.song-details {
  display: inline-block;
  margin-top: 16px;
  vertical-align: top;
  line-height: 14px;

}

.song-details .song-title {
  font-size: 13px;
  display: inline-block;
}

.song-details .artist-name {
  font-size: 9px;
}

/************************************* middle section *****************************************/
.middle {
  display: flex;
  align-items: center;
}

.middle img {
  width: 16px;
  margin: 0px 10px;
  transition: .15s;
}

.middle img:hover {
  width: 15px;
  cursor: pointer;
}

audio {
  width: 515px;
  height: 30px;
}

audio::-webkit-media-controls-panel {
  background: linear-gradient(#212a35, #030c18);;
}

audio::-webkit-media-controls-play-button {
  /*border-radius: 50%;*/
  margin-left: -8px;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: linear-gradient(#212a35, #030c18);;
}